.containerr {
    padding: 2rem;
  .search{
    display: flex;
    justify-content: center;
    select{
      width: 70px;
    }
  }
    h1 {
      text-align: start;
    }
  
    .card {
      .card-img {
        width: 100%;
      }
      .fav{
        i{

          color: #E6E6E6;
          font-size: 5rem;
        }
      }
  
    }
  
  
  }